In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

sal = pd.read_csv('data/sal.csv',header=0, index_col=None)
X = sal[['x']]
y = sal['y']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=10)

lm = LinearRegression() 
lm.fit(X_train,y_train) 

print('Intercept :', round(lm.intercept_,2))
print('Slope :', round(lm.coef_[0],2))

from sklearn.metrics import mean_squared_error

y_predict= lm.predict(X_test)
mse = mean_squared_error(y_predict,y_test)
print('MSE :', round(mse,2))

from sklearn.externals import joblib

filename = 'model/sal_model.pkl'
joblib.dump(lm, filename)

Intercept : 103116.87
Slope : 1840.18
MSE : 3031.04

['model/sal_model.pkl']

In [3]:
sal.head()

   x       y
0  0  103100
1  1  104900
2  2  106800
3  3  108700
4  4  110400

In [18]:
X.head()

   x
0  0
1  1
2  2
3  3
4  4

In [6]:
y.head()

0    103100
1    104900
2    106800
3    108700
4    110400
Name: y, dtype: int64

In [8]:
import pickle

## Consume the service from the pickle file

In [14]:
y_new_predict= lm.predict([[36]]) # note to use doble []
y_new_predict

array([169363.21138211])

In [16]:
 p = joblib.load('model/sal_model.pkl')

In [17]:
p.predict([[36],[40]])

array([169363.21138211, 176723.91598916])